local_dir           {{video_server_local_dir}}
records_dir         {{video_server_records_dir}}
logs_dir            {{video_server_logs_dir}}
cctv_config         cctv_config
lock_file           cctv-global.lock
force_file          force_file
resolution          {{video_server_runner_resolution}}
fps                 {{video_server_runner_fps}}
hls_segment_sec     {{video_server_runner_hls_segment_sec}}
hls_list_size       {{video_server_runner_hls_list_size}}
script_command      $0 $*
script_params       $*
USER                {{video_server_runner_user}}
emails              {{video_server_alert_emails}}
cctv_reboot_start   05:10
cctv_reboot_stop    05:25
