{%- with prefix = video_server_baseurl.uri -%}

location {{ prefix }}/api/ {
	{% for addr in video_server_www_allow_addresses -%}
	allow {{ addr }};
	{% endfor -%}
	deny all;
	proxy_pass http://127.0.0.1:{{ video_server_api_listen_port }}/;
}

location = {{ prefix }}/auth {
	deny all;
	proxy_pass_request_body off;
	proxy_set_header Content-Length "";
	proxy_set_header X-Original-URI $http_x_original_scheme://$http_x_original_host$request_uri;
	proxy_pass http://127.0.0.1:8080/auth/;
}

location {{ prefix }}/segments/ {
	{% for addr in video_server_www_allow_addresses -%}
	allow {{ addr }};
	{% endfor -%}
	deny all;
	auth_request {{ prefix }}/auth;
	alias /data/cctv/ng/test/records/;
}

location {{ prefix }}/ {
	return 404;
}

{%- endwith -%}
