[Unit]
Description=CCTV delivery server

[Service]
Type=simple
EnvironmentFile={{ video_server_local_dir }}/video-server-config.env
ExecStart={{ video_server_local_dir }}/venv/bin/python -u -m uvicorn --factory stfpmi_video_server.main:app_factory
Restart=always
RestartSec=10
User={{video_server_api_user}}
Group={{video_server_api_user}}

[Install]
WantedBy=multi-user.target
