[Unit]
Description=CCTV recorder for camera %i

[Service]
Type=simple
ExecStart=/usr/bin/env python3 -u {{video_server_local_dir}}/cctv_runner.py {{video_server_local_dir}}/config %i
Restart=always
RestartSec=10
User={{video_server_runner_user}}
Group={{video_server_runner_group_prefix}}-%i
StandardError=null

[Install]
WantedBy=multi-user.target
