# jwt_algorithm: HS256
jwt_secret_key: {{ video_server_api_secret_key }}

session_secret: {{ video_server_api_session_secret }}
oidc:
  discovery_url: {{ video_server_api_oidc_discovery_url }}
  client_id: {{ video_server_api_oidc_client_id }}
  client_secret: {{ video_server_api_oidc_client_secret }}

segment_uri_prefix: {{ video_server_baseurl.origin }}{{ video_server_baseurl.uri }}/segments
index_directory_fmt: "{{ video_server_records_dir }}/{stream_id}"

base_url: {{ video_server_baseurl.origin }}{{ video_server_baseurl.uri }}/api
ui_url: {{ video_server_baseurl.origin }}{{ video_server_baseurl.uri }}/
gap_uri: /404

# metrics_prefix: /svs
metrics_streams:
  {% for camera_name in video_server_cameras %}
  - cam_{{ camera_name }}
  {% endfor %}

cache_type: persistent
cache_dir: {{ video_server_api_cache_dir }}
cache_warmup_interval_sec: 180
cache_warmup_streams:
  {% for camera_name in video_server_cameras %}
  - cam_{{ camera_name }}
  {% endfor %}

{% if video_server_cache_prune_after_days %}
cache_prune_after_days: {{ video_server_cache_prune_after_days }}
{% endif %}
